<ul>
  <li>
    <div class="py-2 px-3 border-b border-gray-200 mb-2">
      <span class="mr-2">First Name: </span>
      <b>{{ appointment?.firstName }}</b>
    </div>
    <div class="py-2 px-3 border-b border-gray-200 mb-2">
      <span class="mr-2">Last Name: </span>
      <b>{{ appointment?.lastName }}</b>
    </div>
    <div class="py-2 px-3 border-b border-gray-200 mb-2">
      <span class="mr-2">Gender: </span>
      <b>{{ appointment?.gender }}</b>
    </div>
    <div class="py-2 px-3 border-b border-gray-200 mb-2">
      <span class="mr-2">Date and Time: </span>
      <b
        >{{ appointment?.date | date: 'dd/MM/yyyy' }} {{ appointment?.time }}</b
      >
    </div>
  </li>
</ul>
